/*
 /$$$$$$ /$$              /$$   /$$ /$$           /$$                 /$$           /$$      /$$$$$$           /$$
|_  $$_/| $$             | $$$ | $$|__/          | $$                | $$          |__/     /$$__  $$         |__/
  | $$ /$$$$$$   /$$$$$$$| $$$$| $$ /$$  /$$$$$$$| $$$$$$$   /$$$$$$ | $$  /$$$$$$  /$$    | $$  \__//$$   /$$ /$$
  | $$|_  $$_/  /$$_____/| $$ $$ $$| $$ /$$_____/| $$__  $$ /$$__  $$| $$ |____  $$| $$    | $$$$   | $$  | $$| $$
  | $$  | $$   |  $$$$$$ | $$  $$$$| $$| $$      | $$  \ $$| $$  \ $$| $$  /$$$$$$$| $$    | $$_/   | $$  | $$| $$
  | $$  | $$ /$$\____  $$| $$\  $$$| $$| $$      | $$  | $$| $$  | $$| $$ /$$__  $$| $$    | $$     | $$  | $$| $$
 /$$$$$$|  $$$$//$$$$$$$/| $$ \  $$| $$|  $$$$$$$| $$  | $$|  $$$$$$/| $$|  $$$$$$$| $$ /$$| $$     |  $$$$$$$| $$
|______/ \___/ |_______/ |__/  \__/|__/ \_______/|__/  |__/ \______/ |__/ \_______/|__/|__/|__/      \____  $$|__/
                                                                                                     /$$  | $$    
                                                                                                    |  $$$$$$/    
                                                                                                     \______/    
==========================================
**    My personal style bootsrap        **
==========================================

peep my code      -> github.com/catlover91
slide into my DMs -> twitter.com/me0wmixgg

*/
@import url('./normalize.min.css');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
  
html, body {
  width:100%;
  height:100%;
}

