.header-cont {
  text-align:center;
}
.header-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/nicholaiWin32.png');
  height:200px;
  margin:20px;
}
.main-cont {
  margin:0 20px;
}
.main-header {
  font-weight:900;
  line-height:17px;
  height:18px;
  margin-bottom:3px;
  padding-left:2px;
  color:#fff;
}
.main-header .item {
  display:inline-block;
  vertical-align:text-bottom;
}
.main-header .ctrl {
  float:right;
}
.main-header .ctrl .btn {
  display:inline-block;
  width:16px;
  height:14px;
  margin-top:2px;
  margin-right:-5px;
}
.main-header .ctrl .btn-primary .icn {
    width:15px;
    height:10px;
    margin:0;
    padding:0;
}
.main-header .ctrl .btn:last-child {
    margin-right:2px;
    margin-left:3px;
}
.icn.icn-min {
  background-image:url(../img/minimize.png);
}
.icn.icn-resize {
  background-image:url(../img/resize.png);
}
.icn.icn-close {
  background-image:url(../img/close.png);
}
.icn.icn-chat {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAADFBMV…CEAyCbGQ4YgRwmKAByKJWB2gNkAe2BAEagKBwARREAygYAVeYA6ZrzXbEAAAAASUVORK5CYII=);
}
.icn.icn-library {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAMAAACTbPdTAAAADFBMV…EJACAMQ8E+3X9nYyEa6P1dCVLGFjLq5TWKp7eMsexYtPcdPkwA1bbIcR4AAAAASUVORK5CYII=);
}
.icn.icn-search {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAADFBMV…Bt9/9/tmBEQcHc5pRKSkVSp2W17fAEfEq3oMA+wHmH9GMNSSMAqzBpFZAAAAAASUVORK5CYII=);
}
.icn.icn-hotlist {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANCAMAAACq939wAAAAGFBMV…3/j0sighfntqyhmCCJpTjpjsA4oerD6iN1JBlNcdfztjN8sA8CTnN6g7IAAAAASUVORK5CYII=);
}
.icn.icn-transfer {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAMAAACuAq9NAAAACVBMV…CJ4DIxQhkQwATlAxlQwIjGxVTMiEYxQaUJmIOuGGEGVtcCADkhAJW171aeAAAAAElFTkSuQmCC);
}
.icn.icn-discover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAMAAAB8rpxtAAAADFBMV…ImJiYgieAw4eCA+AgOQgWMw8TMCOIis5lgitA5cP0INgAaewBvDkXzgwAAAABJRU5ErkJggg==);
}
.icn.icn-help {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAElBMV…ecXHBOTNyaonFJKiMzUcNTGp70LVowVAH+YP8hzIstwGY8f0kBWJZg1MYAAAAASUVORK5CYII=);
}
.main-body {
  padding:0 1em;
}
.what-cont,
.when-cont,
.where-cont,
.why-cont {
  display:none;
}
.networks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
i {
  color:black;
}
.nav-border {
  height:24px;
}
.extend {
  height:100%;
}
.minimize {
    position: absolute !important;
    margin: 0 !important;
    width: 100% !important;
    bottom: 0 !important;
}

.maximize {
  margin: 0 !important;
  position: absolute !important;
  height: 100% !important;
  top: 0 !important;
}
#revert {
  display:none;
  padding:0.5em;
  margin:1em;
}
.popup-modal {
  height:25%;
  width:25%;
}
