@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


html,body {
	font-family: sans-serif ;
	background: #110000 ;
	color: #ccc ;
	padding: 0;
	margin: 0;
}

.waves {
	background-image: url(https://media.giphy.com/media/5PR1nljUyDPP0TalIX/giphy.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center left;
}
.cat {
	background-image: url(/assets/cat.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.splash {
	width:100%;
	height:100vh;
	position:relative;
	overflow: hidden;
    transition: 350ms ease;
	font-family: 'brushking' sans-serif;
}